@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  box-sizing: border-box;
}
.main-layout {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  max-width: 450px;
  margin: auto;
  overflow-y: auto;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  .card-call-overplay{
    z-index: 999;
    display: none;
    animation: 2s all linear;
    position: absolute;
    padding: 50px 20px;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    h3{text-align: center; color: aliceblue; font-size: 30px;}
    p{text-align: center; color: aliceblue; font-size: 20px; margin: 10px 0 40px; display: flex; justify-content: center;}
    .row-icon{
      display: flex; justify-content: space-around;
      .icon{ 
        width: calc(100%/3); 
        height: auto; 
        color: aliceblue;
        padding: 25px; margin: 25px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        &:hover{
          background-color: rgba(255, 255, 255, 0.1);
        }
      
      }
    }
    .hangUp{
      text-align: center;
      .hangUp-icon{
        height: 80px; width: 80px;
        border-radius: 50%;
        padding: 25px; margin: 25px;
        background-color: brown;
        transform: rotate(135deg);
        color: aliceblue;
        cursor: pointer;
        &:hover{
          background-color: rgb(131, 26, 26);
        }
      }
    }
    .icon-phone {
      height: 30px;
      width: 30px;
      margin-right: 20px;
     
      &:hover {
        transform: translate(-50%, 0.5%);
     
      }
      svg {
        fill: aliceblue;
        cursor: pointer;
        .path2 {
          animation: calling 2.5s ease infinite;
        }
        .path3 {
          animation: calling 2.5s ease-in infinite;
        }
      }
    }
    @keyframes calling {
      0%, 50%, 100% {
        opacity: 0;
      }
      25%, 75% {
        opacity: 1;
      }
    }
  }
}
.card[data-state="#about"] {
  height: 600px;
  .card-main {
    padding: 20px 10px;
  }
}

